.offers-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.offer1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
    width: 87%
    
}


.offer-img{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

